#projects.content.active {
    display: block;
    padding: 0.7rem;
}

.projects{
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 1rem;
}

.project-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-info h3{
    font-size: 5rem;
    -webkit-text-stroke: 1px var(--white);
    color: transparent;
}

.project-info h4{
    font-size: 1.3rem;
    /* text-align: justify; */
}

.tech-stack{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
    color: var(--green);
    font-size: 1.3rem;
    font-weight: 500;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
}

.links a, .arrows a{
    text-decoration: none;
    color: var(--green);
    border: 2px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
    transition: all linear 0.3s;
}

.links a:hover , .arrows a:hover{
    background: var(--green);
    color: var(--primary);
    box-shadow: 2px 2px 2px var(--green), -2px 2px 2px var(--green), 2px -2px 2px var(--green), -2px -2px 2px var(--green);
}

.links a:first-child{
    /* rotate: -45deg; */
    transition: all linear 0.3s;
}

.links a:first-child:hover{
    rotate: 0deg;
}

.links a i, .arrows a{
    font-size: 1.5rem;
}

.carousel{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.carousel img{
    width: 100%;
    border-radius: 10px;
}

.arrows{
    display: flex;
    align-items: center;
    align-self: center;
    gap: 1.2rem;
}

.disabled-btn{
    color: var(--disabled);
    border-color: var(--disabled);
    pointer-events: none;
    opacity: 0.5;
}

.disabled-btn:hover{
    box-shadow: none;
    background: none;
    cursor: auto;
}

@media screen and (width >= 1024px) {
    .projects{
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }

    .carousel{
        align-items: flex-end;
    }

    .arrows{
        margin-left: auto;
    }
}


